.about {
    padding: 32px;
    background-color: var(--azul-10);
}

.about__container{
    background-color: var(--azul-10);
    width: 70%;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 40px;
    padding-top: 40px;

}

.about__title{
    background-color: var(--azul-10);
    color: var(--preto-100);
    font-size: 32px;
    font-weight: 700;
}

.about__paragraph{
    background-color: var(--azul-10);
    color: var(--preto-100);
    font-size: 16;
}

.about__firma{
    width: 150px;
}


/*Tablet*/
@media (max-width: 768px) {
    .about__title{
        font-size: 22px;
        font-weight: 700;
    }

    .about__paragraph{
        font-size: 14px;
        font-weight: 400;
    }
    
}
    
    /*Mobile*/
@media (max-width: 425px) {
    

}